.ModalContainer {
  position: fixed;
  place-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    20deg,
    hsla(130, 8%, 14%, 0.699) 40%,
    hwb(0 13% 87% / 0.555) 100%
  );
}
