.Nav {
  display: flex;
  justify-content: space-between;
}
.back-home {
  font-size: 1em;
  color: #333;
  margin-bottom: 20px;
  cursor: pointer;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
